@keyframes fadeInAnimation {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fadeOutAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-110%);
  }
}
.fadeIn {
  animation: fadeInAnimation ease 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.fadeOut {
  animation: fadeOutAnimation ease 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fontSize20 {
  font-size: 20px !important;
}
